{% for car in cars %}
  {% if car.stock > 0 %}
  <div class="col-10 mx-auto my-3 col-md-6 col-lg-4 single-car {{ car.category }}">
    <div class="card car-card">
      <img src="{{ car.image.url }}" class="card-img-top car-img" alt="{{ car.make }} {{ car.model }}">
      <div class="card-body">
        <div class="car-info d-flex justify-content-between">
          <div class="car-text text-uppercase">
            <h6 class="font-weight-bold">{{ car.make }}</h6>
            <h6>{{ car.model }}</h6>
          </div>
          <h5 class="car-value align-self-center py-2 px-3">
            $<span class="car-price">{{ car.price }}</span>
          </h5>
        </div>
      </div>
      <div class="card-footer text-capitalize d-flex justify-content-between">
        <p><span><i class="fas fa-car"></i></span>{{ car.type }}</p>
        <p><span><i class="fas fa-cogs"></i></span>{{ car.transmission }}</p>
        <p><span><i class="fas fa-gas-pump"></i></span>{{ car.gas }}</p>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}